## Numbers

In [ ]:
a = 14
b = 3
a + b # addition

In [ ]:
a - b # subtraction

In [ ]:
a * b # multiplication

In [ ]:
a / b # true division

In [ ]:
a // b # integer division

In [ ]:
a % b # modulo operator (remainder of division)

In [ ]:
a ** b # power operation

In [ ]:
7 / 4 # true division

In [1]:
7 // 4 # integer division, truncation returns 1

1

In [2]:
-7 / 4 # true division, result is the opposite of the previous

-1.75

In [3]:
-7 // 4 # integer division, result not the opposite of the previous

-2

- The result of an integer division in Python is always rounded towards minus infinity. If instead of flooring, you want to truncate a number to an integer, you can use the built-in 'int' function as seen in the below example.

In [ ]:
int(1.75) # truncation is done towards zero

In [ ]:
int(-1.75) # truncation is done towards zero

In [ ]:
n = 1024
n

In [ ]:
m = 1_024
m

In [ ]:
m == n

In [ ]:
hex_n = 0x_4_0_0 # 0x400 == 1024
hex_n

## Booleans

In [73]:
int(True) # True behaves like 1

1

In [74]:
int(False) # False behaves like 0

0

In [75]:
bool(1) # 1 evaluates to True in a boolean context

True

In [76]:
bool(-42) # and so does every non-zero number

True

In [77]:
bool(0) # 0 evaluates to False

False

In [78]:
not True

False

In [79]:
not False

True

In [80]:
True and True

True

In [81]:
False or True

True

 - True and False are subclasses of integers when you try to add them. Python upcasts them to integers and performs the addition (Upcasting is a type of conversion operation that goes from a subclass to its parent. In the examples presented here True and False, which belong to a class derived from the integer class, are converted back to integers when needed):

In [ ]:
1 + True

In [ ]:
False + 42

In [ ]:
7 - True

## Real numbers

Usually, programming languages give coders two different formats: single and double precision. Single precision take up 32 bits of memory and double precision takes up 64 bits of memory. Python supports the double precision format.

In [ ]:
pi = 3.1415926536 # how many dipits of pi can you remember?
radius = 4.5
area = pi * (radius ** 2)
area

In [ ]:
# the sys.float_info struct sequence holds information about how floating point numbers will behave on your system.
import sys
sys.float_info

- We have 64 bits to represent float numbers. This means we can represent at most 2 ** 64 = 18.446,744,073,709,551,616 numbers with that amount of bits. Take a look at the 'max' and 'epsilon' values for the flaot numbers, and you will realize it's impossible to represent them all. There is just not enough space, so they are approximated to the closest representable number. You probably think that only extremely big or extremely small numbers suffer from this issue. Well, think again and try the following:

In [ ]:
0.3 - 0.1 * 3 # this should be 0!!!

- What does this tell you? This means that double precision numbers suffer from approximation issues even when it comes to simple numbers like 0.1 or 0.3. Why is this important? It can be a significant problem if you are handling prices or financial calulcations, or any type of data that needs to not be approximated. To solve this Python gives you the 'decimal' type which doesn't suffer from this problem

## Fractions and Decimals

In [ ]:
from fractions import Fraction
Fraction(10, 6) # mad hatter? notice it has been simplified

In [ ]:
Fraction(1, 3) + Fraction (2, 3)  # 1/3 + 2/3 == 3/3 == 1/1 == 1

In [ ]:
f = Fraction(10, 6)
f.numerator

In [ ]:
f.denominator

In [ ]:
from decimal import Decimal as D # rename for brevity
D(3.14) # pi, from float, so approximation issues

In [ ]:
D('3.14')

In [ ]:
D(0.1) * D(3) - D(0.3) # from float, we still have the issue

In [ ]:
D('0.1') * D(3) - D('0.3') # from string ... problem solved!

In [ ]:
D('1.4').as_integer_ratio() #7/5 = 1.4

- When we construct a 'Decimal' number from a 'float', it takes on all the approximation issues 'float' has. 'Decimal' has no approximation issues when we feed an 'int' or a 'string' representation to the constructor.

##  Immutable Sequences i.e Strings, Tuples, and bytes

- Strings and bytes

In [ ]:
# 4 weays to make a string
str1 = 'This is a string. We built it with single quotes.'
str2 = "This is also a string, but built with double quotes."
str3 = '''This is built using triple quotes, so it 
can span multiple lines.'''
str4 = """This too 
is a multiline one
buit with triple double-quotes."""
str4  # printed implicitly

In [ ]:
print(str4) # printed explicitly

In [ ]:
len(str1)

In [17]:
first_name = 'Kennly'
last_name = 'Weerasinghe'
full_name = first_name + ' ' + last_name
print(full_name)

Kennly Weerasinghe

In [28]:
weather = "It's sunny"
print(weather)

It's sunny

In [27]:
weather = "It's "kind of" sunny"
print(weather)

SyntaxError: invalid syntax (2193194032.py, line 1)

In [30]:
weather = "It's \"kind of\" sunny"
print(weather)
weather

It's "kind of" sunny

'It\'s "kind of" sunny'

In [33]:
weather = "\t It's \"kind of\" sunny" # \t uses tab to indent the line
print(weather)

	 It's "kind of" sunny

- Indexing and slicing strings
       - When dealing with immutable sequences, both indexing and slicing operations are read-only.

In [34]:
s = "The trouble is you think you have time"
s[0] # indexing at position 0, which is the first char

'T'

In [35]:
s[5] # indexing at position 5, which is the sixth char

'r'

In [36]:
s[:4] # slicing, we specify only the stop position

'The '

In [37]:
s[4:] # slicing, we specify only the start position

'trouble is you think you have time'

In [38]:
s[2:14] # slicing, both start and stop positions

'e trouble is'

In [39]:
s[2:14:3] # slicing, start, stop, and step (every 3 chars)

'erb '

In [40]:
s[:] # quick way of making a copy

'The trouble is you think you have time'

In [41]:
s[::-1] # reverse the string

'emit evah uoy kniht uoy si elbuort ehT'

- Join strings

In [5]:
words = ['this', 'is', 'a', 'sentence']
words2 = '-'.join(words)
print(words2)

words3 = ' '.join(words)
print(words3)

this-is-a-sentence
this is a sentence

In [6]:
my_lst = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
my_lst_str = ''.join(map(str, my_lst))
print(my_lst_str)

12345678910

In [7]:
#to add parentheses and commas
",".join("12345").join(("(",")"))

'(1,2,3,4,5)'

In [8]:
#to add parentheses and commas
list = ["(",")"]
",".join("12345").join(list)

'(1,2,3,4,5)'

- String Formatting

In [1]:
greet_old = 'Hello %s!'
greet_old % 'Fabrizio'    #this method is deprecated, so don't use it

'Hello Fabrizio!'

In [2]:
greet_positional = 'Hello {} {}!'
greet_positional.format('Fabrizio', 'Romano')

'Hello Fabrizio Romano!'

In [3]:
greet_positional_idx = 'This is {0}! {1} loves {0}!'
greet_positional_idx.format('Python', 'Fabrizio')

'This is Python! Fabrizio loves Python!'

* Tuples

In [7]:
t = () # empty tuple
type(t)

tuple

In [8]:
one_element_tuple = (42, ) # you need the comma!
three_elements_tuple = (1, 3, 5) #braces are optional here
a, b, c = 1, 2, 3 # tuple for multiple assignment
a, b, c #implicit typle to print with one instruction

(1, 2, 3)

In [9]:
3 in three_elements_tuple # membership test

True

- Note: The membership operator 'in' can also be used with lists, strings, dictionaries, and, in general with collection and sequence objects

In [10]:
# One operation that tuple assignment allows us to do is one-line swaps, with no need for a third temporary variable. 
# Below is an example

a, b = 1, 2
c = a
a = b
b = c
a, b   # a and b have been swapped

(2, 1)

In [11]:
# here is the pythonic way to do this:

a, b = 0, 1
a, b = b, a
a, b

(1, 0)

## Mutable Sequences

- Lists

In [1]:
[] # empty list

[]

In [2]:
list() # same as []

[]

In [3]:
[1, 2, 3] # as with tuples, items are comma separated

[1, 2, 3]

In [4]:
[x + 5 for x in [2, 3, 4]] # python is magic aka this is referred to a list comprehension

[7, 8, 9]

In [5]:
list((1, 3, 5, 7, 9))  # list from a tuple

[1, 3, 5, 7, 9]

In [6]:
list('hello') # list from a string

['h', 'e', 'l', 'l', 'o']

In [1]:
# Let's explore the main methods lists gift us with in python:

a = [1, 2, 1, 3]
a.append(13) # we can append anything at the end
a

[1, 2, 1, 3, 13]

In [2]:
a.count(1)  # how many '1' are there in the list?

2

In [3]:
a.extend([5,7])  # extend the list by another (or sequence)
a

[1, 2, 1, 3, 13, 5, 7]

In [4]:
a.index(13)   # position of '13' in the list (0-based indexing)

4

In [5]:
a.insert(0, 17)   # insert '17' at position 0
a

[17, 1, 2, 1, 3, 13, 5, 7]

In [6]:
a.pop()   # pop (remove and return) the last element

7

In [7]:
a.pop(3)   # pop element at position 3

1

In [8]:
a

[17, 1, 2, 3, 13, 5]

In [10]:
a.remove(17)   # remove '17' from the list
a

[1, 2, 3, 13, 5]

In [11]:
a.reverse()  # reverse the order of the elements in the list
a

[5, 13, 3, 2, 1]

In [12]:
a.sort()  # sort the list
a

[1, 2, 3, 5, 13]

In [13]:
a.clear()    # remove all elements from the list
a

[]

In [14]:
# You can extend lists using any sequence type
a = list('hello')
a

['h', 'e', 'l', 'l', 'o']

In [15]:
a.append(100)  # append 100, hetergeneous type
a

['h', 'e', 'l', 'l', 'o', 100]

In [16]:
a.extend((1, 2, 3))  # extend using tuple
a

['h', 'e', 'l', 'l', 'o', 100, 1, 2, 3]

In [17]:
a.extend('...')  # extend using string
a

['h', 'e', 'l', 'l', 'o', 100, 1, 2, 3, '.', '.', '.']

In [18]:
# Common operations that can be done with lists:
a = [1, 3, 5, 7] 
min(a)  # minimum value in the list

1

In [19]:
max(a)  # maximum value in the list

7

In [20]:
sum(a)  # sum of all values in the list

16

In [21]:
len(a)  # number of elements in the list

4

In [22]:
# example of operator overloading

b = [6, 7 , 8]
a + b   # '+' with list means concatenation

[1, 3, 5, 7, 6, 7, 8]

In [23]:
# example of operator overloading
a * 2  # '*' also has a special meaning

[1, 3, 5, 7, 1, 3, 5, 7]

In [24]:
from operator import itemgetter
a = [(5, 3), (1, 3), (1, 2), (2, -1), (4, 9)]
sorted(a)     # sorts on the first item of the tuple and also on the second if two tuples have the same value for the first

[(1, 2), (1, 3), (2, -1), (4, 9), (5, 3)]

In [25]:
sorted(a, key=itemgetter(0))     # sorts only on the first item of the tuple, disregards the second

[(1, 3), (1, 2), (2, -1), (4, 9), (5, 3)]

In [26]:
sorted(a, key=itemgetter(0, 1))  # replicates default sort

[(1, 2), (1, 3), (2, -1), (4, 9), (5, 3)]

In [27]:
sorted(a, key=itemgetter(1))  # sorts only on the second item in the tuple

[(2, -1), (1, 2), (5, 3), (1, 3), (4, 9)]

In [28]:
sorted(a, key=itemgetter(1), reverse=True)

[(4, 9), (5, 3), (1, 3), (1, 2), (2, -1)]

In [82]:
#feature of a list on reassignment to another variable
amazon_cart = ['notebooks', 'sunglasses', 'toys', 'grapes']
amazon_cart[0] = 'laptop'
newcart = amazon_cart 
newcart[0] = 'gum'  #this will change the item in the list in both newcart and amazon_cart 
print(newcart)
print(amazon_cart)

['gum', 'sunglasses', 'toys', 'grapes']
['gum', 'sunglasses', 'toys', 'grapes']

In [83]:
amazon_cart = ['notebooks', 'sunglasses', 'toys', 'grapes']
amazon_cart[0] = 'laptop'
newcart = amazon_cart[:] #this will assign items in amazon_cart to newcart without linking the two lists as one
newcart[0] = 'gum'
print(newcart)
print(amazon_cart)

['gum', 'sunglasses', 'toys', 'grapes']
['laptop', 'sunglasses', 'toys', 'grapes']

## Matrices

In [84]:
# Matrix
matrix = [[1,2,3], [1,0,1], [0,1,0]]

print(matrix[0][1]) # grabs the first item in the list and then the second item within that list.

2

## Custom objects in Python are mutable (unless you code them not to be) ... this is a very important concept in Python

In [ ]:
class Person():
    def __init__(self, age):
        self.age = age
        
fab = Person(age = 42) 
fab.age

In [ ]:
id(fab)

In [ ]:
id(fab.age)

In [ ]:
fab.age = 25 # I wish!
id(fab) # will be the same!

In [ ]:
id(fab.age) # will be different!

In [ ]:
type(fab) #type of fab is 'Person'

 - Here we set up an object 'fab' whose type = 'Person' (a custom class). On creation, the ojbect is give the 'age'of '42'. I am printing it, along with the object 'id', and the ID of 'age' as well. Notice that even after I change 'age' to be '25' the ID of 'fab' stays the same (while the ID of 'age' has changed).

## LEGB = Local, Enclosing, Global, and Built-In scopes

In simple terms, the idea of scope can be described by 3 general rules:

Scope simply means: what variables do I have access to?

Scope also refers to access i.e. local, enclosing functions, global, and built-in

1. Name assignments will create or change local names by default.
2. Name references search (at most) four scopes, these are:
    * local
    * enclosing functions
    * global
    * built-in
3. Names declared in global and nonlocal statements map assigned names to enclosing module and function scopes.


The statement in #2 above can be defined by the LEGB rule.


**LEGB Rule:**

L: Local — Names assigned in any way within a function (def or lambda), and not declared global in that function.

E: Enclosing function locals — Names in the local scope of any and all enclosing functions (def or lambda), from inner to outer.

G: Global (module) — Names assigned at the top-level of a module file, or declared global in a def within the file.

B: Built-in (Python) — Names preassigned in the built-in names module : open, range, SyntaxError,...

In [37]:
#LEGB local, enclosing, global, and built-in
x = 25

def printer():
    x = 50
    return x

print(25)
print(printer())

25
50

In [43]:
#Global
name = 'THIS IS A GLOBAL STRING'

def greet():
    # Enclosing
    name = 'Sammy'
    
    def hello():
        print('Hello ' + name)
    
    hello()
    
greet()

Hello Sammy

In [44]:
#Global
name = 'THIS IS A GLOBAL STRING'

def greet():
    # Enclosing
    #name = 'Sammy'
    
    def hello():
        print('Hello ' + name)
    
    hello()
    
greet()

Hello THIS IS A GLOBAL STRING

In [46]:
#Global
name = 'THIS IS A GLOBAL STRING'

def greet():
    # Enclosing
    name = 'Sammy'
    
    def hello():
        #Local
        name = 'IM LOCAL'
        print('Hello ' + name)
    
    hello()
    
greet()

Hello IM LOCAL

In [47]:
x = 50

def func(x):
    print(f'X is {x}')

func(x)

X is 50

In [56]:
x = 50

def func(x):
    print(f'X is {x}')
    
    #Local reassignment
    x = 200
    print(f'I JUST LOCALLY CHANGED X to {x}')
func(x)
print(x) # didn't change the global space

X is 50
I JUST LOCALLY CHANGED X to 200
50

In [57]:
x = 50

def func():
    global x
    print(f'X is {x}')
    
    #Local reassignment
    x = 'NEW VALUE'
    print(f'I JUST LOCALLY CHANGED X to {x}')

In [60]:
print(x)

50

In [61]:
func()

X is 50
I JUST LOCALLY CHANGED X to NEW VALUE

In [62]:
x

'NEW VALUE'

In [63]:
#much cleaner and safer to do this ... i.e. don't use the 'global' keyword
x = 50

def func(x):
    
    print(f'X is {x}')
    
    #Local reassignment
    x = 'NEW VALUE'
    print(f'I JUST LOCALLY CHANGED X to {x}') 
    return x

In [64]:
print(x)

50

In [69]:
x = func(x)

X is 50
I JUST LOCALLY CHANGED X to NEW VALUE

In [72]:
print(x)

NEW VALUE

In [38]:
def local():
    m = 9   # indent using 4 spaces
    print(m)
m = 4
print(m)
local()

4
9

In [39]:
m

4

In [40]:
def local():
    # m doesn't belong to the scope defined by the local function
    # so Python will keep looking into the next enclosing scope.
    # m is finally found in the global scope
    print(m, 'printing from the local scope')

m = 5
print(m, 'print from the global scope')

local()

5 print from the global scope
5 printing from the local scope

In [41]:
def enclosing_func():
    m = 13
    
    def local():
        # m doesn't belong to the scope defined by the local 
        # function so Python will keep looking into the next
        # enclosing scope. This time m is found in the enclosing
        # scope
        print(m, 'printing from the local scope')
        
    # calling the function local
    local()

m = 5
print(m, 'printing from the global scope')

enclosing_func()

5 printing from the global scope
13 printing from the local scope

In [4]:
greet_positional_idx.format('Coffee', 'Fab')

'This is Coffee! Fab loves Coffee!'

In [5]:
keyword = 'Hello my name is {name} {last_name}'
keyword.format(name='Fabrizio', last_name='Romano')

'Hello my name is Fabrizio Romano'

In [6]:
name = 'Fab'  #newest method called formatted string literals or f'string literals, preferred way
age = 42
f"Hello! My name is {name} and I'm {age}"

"Hello! My name is Fab and I'm 42"

In [ ]:
from math import pi
f"No arguing with {pi}, it's irrational..."

## File I/O

In [29]:
%%writefile myfile.txt
Hello this is a text file
this is the second line
this is the third line

Writing myfile.txt

In [30]:
myfile = open("myfile.txt")

In [31]:
myfile = open("whoops_wrong.txt")

FileNotFoundError: [Errno 2] No such file or directory: 'whoops_wrong.txt'

In [32]:
pwd

'C:\\Users\\wsken\\Desktop\\Python Practice\\Untitled Folder'

In [33]:
myfile.read()

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [34]:
myfile.read()

''

In [35]:
myfile.seek(0)

0

In [36]:
myfile.read()

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [37]:
myfile.seek(0)

0

In [38]:
contents = myfile.read()

In [39]:
contents

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [40]:
myfile.seek(0)

0

In [41]:
myfile.readlines() #grabs a list

['Hello this is a text file\n',
 'this is the second line\n',
 'this is the third line\n']

In [43]:
myfile = open("C:\\Users\\wsken\\Desktop\\Python Practice\\Untitled Folder\\myfile.txt")

In [45]:
myfile.read()

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [46]:
%%writefile myfile2.txt
Hello this is a text file
this is the second line
this is the fourth line

Writing myfile2.txt

In [47]:
myfile2 = open("C:\\Users\\wsken\\Desktop\\Python Practice\\Untitled Folder\\myfile2.txt")
myfile2

In [48]:
myfile2.read()

'Hello this is a text file\nthis is the second line\nthis is the fourth line\n'

In [49]:
myfile2.close()

In [50]:
with open('myfile2.txt') as my_new_file2:              #don't need to close the file
    contents = my_new_file2.read()

In [51]:
contents

'Hello this is a text file\nthis is the second line\nthis is the fourth line\n'

In [52]:
# Reading, Writing, Appending Modes
# mode = 'r' is read only
# mode = 'w' is write only (will overwrite files or create new!)
# mode = 'a' is append only (will add on to files)
# mode = 'r+' is reading and writing
# mode = 'w+' is writing and reading (Overwrites existing files to create a new file!)


with open("myfile.txt", mode='r') as myfile:  
    contents = myfile.read()

In [53]:
%%writefile my_new_file.txt
ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

Writing my_new_file.txt

In [54]:
with open("my_new_file.txt", mode='r') as f:  
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

In [55]:
with open("my_new_file.txt", mode='a') as f:
    f.write('FOUR ON FOURTH')

In [56]:
with open("my_new_file.txt", mode='r') as f:  
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD
FOUR ON FOURTH

In [57]:
with open("asdfdsfds.txt", mode = 'w') as f:
    f.write("I CREATED THIS FILE!")

In [58]:
with open("asdfdsfds.txt", mode = 'r') as f:
    print(f.read())

I CREATED THIS FILE!

## Control Flow
 - Keywords
    - if, elif, else
    - Makes use of white space(indentation) and colons
  - Syntax of if/else statement
    - if 'some_condition':
        execute some code
    - elif 'some_other_condition':
        do something different
    - else: 
        do something else

In [63]:
if True: 
    print("It's true!")

It's true!

In [64]:
if 3 > 2: 
    print("It's true!")

It's true!

In [65]:
hungry = True

if hungry:
    print('FEED ME!')

FEED ME!

In [66]:
hungry = False

if hungry:
    print('FEED ME!')

In [67]:
hungry = False # a boolean

if hungry:
    print('FEED ME!')
else:
    print("Im not hungry")

Im not hungry

In [68]:
hungry = True  # a boolean

if hungry:
    print('FEED ME!')
else:
    print("Im not hungry")

FEED ME!

In [69]:
loc = 'Bank'

if loc == 'Auto Shop':
    print("Cars are cool!")
else:
    print("I do not know much.")

I do not know much.

In [70]:
loc = 'Bank'

if loc == 'Auto Shop':
    print("Cars are cool!")
elif loc == 'Bank':
    print("Money is cool!")
else:
    print("I do not know much.")

Money is cool!

In [71]:
loc = 'Auto Shop'

if loc == 'Auto Shop':
    print("Cars are cool!")
elif loc == 'Bank':
    print("Money is cool!")
elif loc == 'Store':
    print("Welcome to the store!")
else:
    print("I do not know much.")

Cars are cool!

In [72]:
loc = 'Store'

if loc == 'Auto Shop':
    print("Cars are cool!")
elif loc == 'Bank':
    print("Money is cool!")
elif loc == 'Store':
    print("Welcome to the store!")
else:
    print("I do not know much.")

Welcome to the store!

In [73]:
loc = 'Game'

if loc == 'Auto Shop':
    print("Cars are cool!")
elif loc == 'Bank':
    print("Money is cool!")
elif loc == 'Store':
    print("Welcome to the store!")
else:
    print("I do not know much.")

I do not know much.

In [74]:
name = 'Sammy'

if name == 'Frankie':
    print("Hello Frankie!")
elif name == 'Sammy':
    print("Hello Sammy!")
else:
    print("What is your name?")

Hello Sammy!

In [75]:
name = 'Frankie'

if name == 'Frankie':
    print("Hello Frankie!")
elif name == 'Sammy':
    print("Hello Sammy!")
else:
    print("What is your name?")

Hello Frankie!

In [76]:
name = 'Jose'

if name == 'Frankie':
    print("Hello Frankie!")
elif name == 'Sammy':
    print("Hello Sammy!")
else:
    print("What is your name?")

What is your name?

In [77]:
# For loops are used to iterate over the object i.e. iterate over every character in a string, iterate over every item in 
# a list, iterate over every key in a dictionary.
# Syntax of a loop 
my_iterable = [1,2,3]
for item_name in my_iterable:
    print(item_name)

1
2
3

In [78]:
mylist = [1,2,3,4,5,6,7,8,9,10]

for num in mylist: 
    print(num)

1
2
3
4
5
6
7
8
9
10

In [79]:
mylist = [1,2,3,4,5,6,7,8,9,10]

# variable name can be whatever you want 
for jelly in mylist: 
    print(jelly)

1
2
3
4
5
6
7
8
9
10

In [80]:
mylist = [1,2,3,4,5,6,7,8,9,10]

for num in mylist: 
    print('Hello')

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello

In [81]:
mylist = [1,2,3,4,5,6,7,8,9,10]

for num in mylist: 
    if num % 2 == 0:
        print(num)
    else:
        print(f'Odd Number: {num}')

Odd Number: 1
2
Odd Number: 3
4
Odd Number: 5
6
Odd Number: 7
8
Odd Number: 9
10

In [82]:
list_sum = 0

for num in mylist:
    list_sum = list_sum + num

print(list_sum)

55

In [84]:
list_sum = 0

# place print statement in the loop to see the step by step results
# if you want just the result put print statement outside the loop as in previous cell
for num in mylist:
    list_sum = list_sum + num

    print(list_sum)

1
3
6
10
15
21
28
36
45
55

In [85]:
mystring = 'Hello World'

#iterate through a string
for letter in mystring:
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [86]:
#iterate through a string
for letter in 'Hello World':
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [87]:
#iterate through a string
for ghghg in 'Hello World':
    print(ghghg)

H
e
l
l
o

W
o
r
l
d

In [88]:
#iterate something a certain amount of times
for _ in 'Hello World':
    print('Cool!')

Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!

In [89]:
tup = (1,2,3)

for item in tup:
    print(item)

1
2
3

In [90]:
mylist = [(1,2), (3,4), (5,6), (7,8)]
len(mylist)

4

In [91]:
for item in mylist:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [92]:
#tuple unpacking

for (a,b) in mylist:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [93]:
for a,b in mylist:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [94]:
for a,b in mylist:
    print(a)

1
3
5
7

In [95]:
for a,b in mylist:
    print(b)

2
4
6
8

In [96]:
mylist = [(1,2,3), (4,5,6), (7,8,9)]
for item in mylist:
    print(item)

(1, 2, 3)
(4, 5, 6)
(7, 8, 9)

In [97]:
for a,b,c in mylist:
    print(b)

2
5
8

In [98]:
for a,b,c in mylist:
    print(b + c)

5
11
17

In [101]:
d = {'k1':1, 'k2':2, 'k3':3}

#only returns key from key:value pair
for item in d:
    print(item)

k1
k2
k3

In [99]:
d = {'k1':1, 'k2':2, 'k3':3}

#returns the tuple pairs from the dictionary 'd'
for item in d.items():
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)

In [103]:
d = {'k1':1, 'k2':2, 'k3':3}

#only value from key:value pair
for value in d.values():
    print(value)

1
2
3

In [104]:
d = {'k1':1, 'k2':2, 'k3':3}

#use tuple unpacking to print out only value from key:value pair in dictionary
#dictionaries are not ordered so there is no guarantee that you will get values in 'order'
for key,value in d.items():
    print(value)

1
2
3

In [107]:
#While loops will continue to execute a block of code while some condition remains True
# Syntax of a while loop
#while some_boolean_condition:
    #do something
#else:
    #do something different

x = 0 

while x < 5:
    print(f'The current value of x is {x}')
    x = x + 1

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4

In [108]:
#Infinite while loop ... will have to reset kernel if you run the code below
x = 0 

#while x < 5:
    #print(f'The current value of x is {x}')

In [109]:
x = 0 

while x < 5:
    print(f'The current value of x is {x}')
    x += 1
else:
    print("X IS NOT LESS THAN 5")

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4
X IS NOT LESS THAN 5

In [110]:
x = 50 

while x < 5:
    print(f'The current value of x is {x}')
    x += 1
else:
    print("X IS NOT LESS THAN 5")

X IS NOT LESS THAN 5

- Break, continue, pass
 - We can use break, continue, and pass statements in our loops to add additional functionality for various cases.
 - The three statements are defined by:
     - break: breaks out of the current closest enclosing loop.
     - continue: Goes to the top of the closest enclosing loop.
     - pass: Does nothing at all.

In [113]:
x = [1,2,3]

for item in x:
    #comment

print('end of my script')

IndentationError: expected an indented block (820596110.py, line 6)

In [112]:
x = [1,2,3]

for item in x:
    #comment
    pass #programmers use pass as a placeholder to avoid syntax errors

print('end of my script')

end of my script

In [116]:
mystring = 'Sammy'

for letter in mystring:
    if letter == 'a':
        continue
    print(letter)

S
m
m
y

In [117]:
mystring = 'Sammy'

for letter in mystring:
    if letter == 'a':
        break
    print(letter)

S

In [118]:
x = 0

while x < 5:
    print(x)
    x +=1

0
1
2
3
4

In [119]:
x = 0

while x < 5:
    
    if x == 2:
        break
    print(x)
    x +=1

0
1

In [120]:
#range function

for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [121]:
for num in range(3,10):
    print(num)

3
4
5
6
7
8
9

In [122]:
for num in range(3,10,2):
    print(num)

3
5
7
9

In [123]:
for num in range(0,11,2):
    print(num)

0
2
4
6
8
10

In [125]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [126]:
index_count = 0 

for letter in 'abcde':
    print('At index {} the letter is {}'.format(index_count, letter))
    index_count += 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [127]:
index_count = 0 
word = 'abcde'
for letter in word:
    
    print(word[index_count])
    index_count += 1

a
b
c
d
e

In [128]:
#enumerate function
word = 'abcde'
for item in enumerate(word): 
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [129]:
#enumerate function
word = 'abcde'

for index,letter in enumerate(word): 
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e

In [130]:
#zip 
mylist1 = [1,2,3]
mylist2 = ['a','b','c']

for item in zip(mylist1,mylist2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [131]:
#zip 
mylist1 = [1,2,3]
mylist2 = ['a','b','c']
mylist3 = [100,200,300]

for item in zip(mylist1,mylist2,mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [132]:
#zip will ignore extra values i.e.  4, 5, 6
mylist1 = [1,2,3,4,5,6]
mylist2 = ['a','b','c']
mylist3 = [100,200,300]

for item in zip(mylist1,mylist2,mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [133]:
list(zip(mylist1,mylist2,mylist3))

[(1, 'a', 100), (2, 'b', 200), (3, 'c', 300)]

In [134]:
mylist1 = [1,2,3,4,5,6]
mylist2 = ['a','b','c']
mylist3 = [100,200,300]

for a,b,c in zip(mylist1,mylist2,mylist3):
    print(b)

a
b
c

In [135]:
#In evaluates to boolean
'x' in [1,2,3]

False

In [136]:
'x' in ['x','y','z']

True

In [137]:
'a' in 'a world'

True

In [138]:
'mykey' in {'mykey':345}

True

In [139]:
d = {'mykey':345}

345 in d.keys()

False

In [146]:
#min and max function in python
mylist = [10,20,30,40,100]
print(min(mylist))
max(mylist)

10

100

In [142]:
#Python built in random library
from random import shuffle

mylist = [1,2,3,4,5,6,7,8,9,10]
shuffle(mylist)
mylist

[7, 8, 6, 9, 3, 4, 10, 5, 1, 2]

In [147]:
shuffle(mylist)
mylist

[20, 30, 40, 10, 100]

In [148]:
random_list = shuffle(mylist)
type(random_list)

NoneType

In [149]:
#randint in python
from random import randint
randint(0,100)

5

In [150]:
randint(0,100)

2

In [151]:
mynum = randint(0,10)
mynum

10

In [152]:
#ask for user input
input('Enter a number: ')

Enter a number: 5

'5'

In [153]:
result = input('What is your name? ')

What is your name? Kennly

In [154]:
result

'Kennly'

In [155]:
# numbers for input are treated as strings
result = input('Enter a number: ')

Enter a number: 5

In [156]:
type(result)

str

In [157]:
#change type from string to float, need to assign to variable to save
float(result)

5.0

In [160]:
type(float(result))

float

In [163]:
#cast in one line
result = int(input('Enter a number: '))
type(result)

Enter a number: 5

int

In [165]:
#list comprehension

mystring = 'hello'
mylist = []

for letter in mystring:
    mylist.append(letter)

mylist

['h', 'e', 'l', 'l', 'o']

In [166]:
#one liner in python 
mylist = [letter for letter in mystring]
mylist

['h', 'e', 'l', 'l', 'o']

In [169]:
mylist = [asdf for asdf in 'wordtwo']
mylist

['w', 'o', 'r', 'd', 't', 'w', 'o']

In [170]:
mylist = [num for num in range(0,11)]
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [171]:
mylist = [num**2 for num in range(0,11)]
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [172]:
mylist = [x for x in range(0,11) if x%2 == 0]
mylist

[0, 2, 4, 6, 8, 10]

In [173]:
mylist = [x**2 for x in range(0,11) if x%2 == 0]
mylist

[0, 4, 16, 36, 64, 100]

In [174]:
celsius = [0,10,20,34.5]

fahrenheit = [( (9/5)*temp + 32) for temp in celsius]
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [175]:
#for loop rather than one liner, notice values are the same
fahrenheit = []

for temp in celsius:
    fahrenheit.append((9/5)*temp +32)

fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [176]:
#ugly one liner
results = [x if x%2==0 else 'ODD' for x in range(0,11)]
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [186]:
#use regular if else statement instead because it is readable

results= []

for x in range(0,11):
    if x%2==0:
        results.append(x)
    else:
        results.append('ODD')

results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [188]:
#nest loops 

mylist = []
for x in [2,4,6]:
    for y in [1,10,1000]:
        mylist.append(x*y)

mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]

In [2]:
#one liner nested loop not as readable
mylist = [x*y for x in [2,4,6] for y in [1,10,1000]]
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]

## Methods in Python

In [3]:
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]

In [4]:
help(mylist.insert)

Help on built-in function insert:

insert(index, object, /) method of builtins.list instance
    Insert object before index.

In [7]:
mylist.insert(8, 500)

In [8]:
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 500, 6000]

## bin function

In [9]:
5

5

In [10]:
bin(5) #binary representation of the number 5

'0b101'

In [11]:
int('0b101', 2) #binary representation converted back to integer

5

## Augmented Assignment Operator

In [12]:
value = 2
value += 5

In [13]:
value

7

In [14]:
value = 14
value -= 3
value

11

In [15]:
value = 4
value *= 2
value

8

In [16]:
value = 6
value /= 2
value

3.0

## Lambda expressions, Map, and Filter

In [1]:
def square(num):
    return num ** 2

In [2]:
my_nums = [1,2,3,4,5]

In [3]:
for item in map(square, my_nums):
    print(item)

1
4
9
16
25

In [4]:
list(map(square, my_nums))

[1, 4, 9, 16, 25]

In [5]:
def splicer(mystring):
    if len(mystring)%2 == 0:
        return 'EVEN'
    else:
        return mystring[0]

In [6]:
names = ['Andy', 'Eve', 'Sally']

In [7]:
list(map(splicer, names)) # pass in the function to map as an argument and map will run the function

['EVEN', 'E', 'S']

In [8]:
def check_even(num):
    return num%2 == 0

In [9]:
mynums = [1,2,3,4,5,6]

In [11]:
list(filter(check_even, mynums))

[2, 4, 6]

In [12]:
for n in filter(check_even, mynums):
    print(n)

2
4
6

In [13]:
def square(num):
    result = num ** 2
    return result

In [14]:
square(3)

9

In [17]:
# lambda expression aka an anonymouse function ... intended to run one time
square = lambda num: num ** 2

In [19]:
square(5)

25

In [26]:
# typically use lambda functions in conjunction with map and filter
# lambda function with the map function
mynums = [1,2,3,4,5,6]
list(map(lambda num: num ** 2, mynums))

[1, 4, 9, 16, 25, 36]

In [27]:
# lambda function with a filter function
list(filter(lambda num: num%2 == 0, mynums))

[2, 4, 6]

In [28]:
names

['Andy', 'Eve', 'Sally']

In [30]:
list(map(lambda name:name[0], names)) #grab the first letter of each name

['A', 'E', 'S']

In [31]:
list(map(lambda x:x[0], names))

['A', 'E', 'S']

In [32]:
list(map(lambda x:x[::-1], names)) #reverse the names

['ydnA', 'evE', 'yllaS']

## Simplified toy example of objects and classes using 'bike' as a class

In [42]:
class Bike:
    
    def __init__(self, color, frame_material):  # __init__, is an initializer aka a python 'magic method'
        self.color = color
        self.frame_material = frame_material
        
    def brake(self):
        print("Braking!")
        
# let's create a couple of instances
red_bike = Bike('Red', 'Carbon fiber')
blue_bike = Bike('Blue', 'Steel')

# let's inspect the objects we have, instances of the Bike class.
print(red_bike.color) #prints: Red
print(red_bike.frame_material) #prints: Carbon Fiber
print(blue_bike.color) #prints: Blue
print(blue_bike.frame_material) #prints: Steel

# let's brake!
red_bike.brake() #prints: Braking!
blue_bike.brake() #prints: Braking!

Red
Carbon fiber
Blue
Steel
Braking!
Braking!

In [ ]:
import this

In [ ]:
age = 42
age
id(age)

In [ ]:
age = 43
age
id(age)